@import './variables';

.wrapper {
    width: 1440px;
}

.container {
    max-width: 1440px; // vì padding đẩy sang 2 bên mỗi bên 15 nên phải tăng thêm 30px cho maxwidth
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: $font-primary;
    color: $text-color;
}