
.header {
    img {
        max-width: 100%;
        height: auto;
    }
    a:hover {
        text-decoration: none;
        color: gray;
        border-bottom: 5px solid white;
    }
    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 102px;
        padding-left: 68px;
        padding-right: 82px;
        align-items: center;
        background-color: #262524;
        position: relative;
        &_menu {
            a {
                color: white;
            }
            padding-top: 15px;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            gap: 0 32px;
            list-style-type: none;
            display:flex;
        }
        &_nav {
            padding-top: 15px;
            display: flex;
            list-style-type: none;
            gap: 0 35px;
        }
        &_lang {
            display: flex;
            flex-wrap: wrap;
            gap: 11px;
            padding-right: 20px;
            padding-left: 110.5px;
        }
    }

    &_noti {
        padding: 2px;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        background-color: #F4B73C;
        position: absolute;
        top: 37px;
        right: 70px;
        bottom: 49px;
    }

}
.header_sub_1 {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    background-color: #262524;
    top: 55%;
    width: 10%;
    z-index: 1;
    color: white;
    left: 25.3%;
    gap: 10px 0;
    opacity: 0.7;
    display: none;
    .sub_1{
        height: 46px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        border-bottom: white solid 1px;
    }
}


.sub_menu:hover .header_sub_1 {
        display: block;
}

.lang {
    height: 45px;
    border-bottom: solid white 1px;
    display: flex;
    align-items: flex-end;
}

.lang_subnav {
    a {
        color: white;
        display: flex;
    }
    position: absolute;
    width: 150px;
    background-color: #262524;
    opacity: 0.7;
    top: 57%;
    z-index: 1;
    display: none;
}

.header_container_lang:hover .lang_subnav {
    display: block;
}

.logo {
    width: 203px;
    height: 64px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1225px) {
    .header_container_menu {
    a {
        color: white;
    }
    padding-top: 15px;
    font-size: 10px;
    font-weight: normal;
    line-height: 24px;
    gap: 0 20px;
    list-style-type: none;
    display:flex;
    }
    .header_container_lang {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    padding-right: 20px;
    padding-left: 19.5px;
    }

}

@media only screen and (max-width: 974px) {
    .header_container_menu {
        display: none;
    }
    .header_container_lang {
        display: flex;
        flex-wrap: wrap;
        gap: 11px;
        margin-right: -50%;
    }
    .logo {
        max-width: 100%;
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .header_container_lang {
        display: none;
    }
}

@media only screen and (max-width: 475px) {
    .header_container_nav, .header_noti {
        display: none;
    }
}

