#header {
    background-color: #262524;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}
.h_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    ul li {
        list-style-type: none;
    }
    a {
        color:#FFFFFF;
        text-decoration: none;
    }
    a:hover {
        color: gray;
        list-style-type: none;
    }
}

.header_logo {
    img {
        max-height: 64px; 
        max-width: 203px
    }
}

.ul_header_menu {
    display: flex;
    list-style-type: none;
    gap: 0 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.ul_header_menu li {
    display: flex;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 13px;
}

.ul_header_menu li:first-child {
    font-weight: 600;
}

.header_sub_1 {
    background-color: #262524;
    opacity: 0.9;
    position: absolute;
    top: 20px;
    li {
        padding-top: 20px;
    }
    width: 200px;
    display: none;
}
.header_sub_hover:hover {
    .header_sub_1 {
        display: block;
    }
}
.language {
    position: relative;
}
.language_subnav {
    img {
        display: inline;
    }
    position: absolute;
    width: 130px;
    top: 100%;
    background-color: #262524;
    opacity: 0.9;
    li {
        padding-top: 20px;
    }
    display: none;
}

.language:hover {
    .language_subnav {
        display: block;
    }
}

.ul_header_right {
    display: flex;
    gap: 34px;
    margin-bottom: 0;
}

.header_right {
    position: relative;
}

.noti_cart {
    position: absolute;
    right: 25px;
    bottom: 10px;
}
.ul_header_menu {
    position: relative;
}
.header_down_product {
    position: absolute;
    top: 11%;
    left: 18%;
}
.image_header {
    margin-top: 101px;
}

.nav_res {
    display: none;
}

@media screen and (max-width: 1199px) {
    .ul_header_menu li {
        display: flex;
        font-weight: 400;
        color: #FFFFFF;
        font-size: 9px;
    }
}

@media screen and (max-width: 992px){
    .ul_header_menu li {
        display: none;
    }
    .noti_cart {
        position: absolute;
        right: 45px;
        bottom: 10px;
    }
    .nav_res {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .header_logo {
        img {
            max-height: 64px;
            max-width: 125px;
        }
    }
    .ul_header_right {
        display: flex;
        gap: 14px;
        margin-bottom: 0;
    }
    .noti_cart {
        position: absolute;
        right: 27px;
        bottom: 10px;
    }
}

