ins {
    text-decoration: none;
}
.s_container {
    padding-top: 30px;
    justify-content: space-between;
    position: relative;
}

.previous {
    margin-left: -70px;
    margin-top: 15px;
}

.next {
    margin-right: -65px;
    margin-top: 15px;
}
.category_product {
    display: flex;
    justify-content: center;
    border: 1px solid #F2F2F2;
    font-weight: 400;
    text-align: center;
    width: 16.6%;
    height: 111px;
    line-height: 33.84px;
    a {
        color: $black-text-primary;
    }
    img {
        margin: auto;
    }
    align-items: center;
}

.category_product:hover {
    a {
        text-decoration: none;
    }
    border-color: $color-primary;
}

.s_button_right {
    position: absolute;
    right: -5%;
    top: 50%;
}

.s_button_left {
    position: absolute;
    top: 50%;
    left: -5%;
}

.directional {
    margin-top: 40px;
    &_separator {
        a {
            color: $black-text-primary;
            text-decoration: none;
        }
    }
    &_filter {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin-top: 8px;
    }
    &_filter_filter {
        display: flex;
        gap: 0 40px;
    }
    &_filter_heading {
        font-size: 28px;
        font-weight: 700;
        color: $black-text-primary;
    }
}
.filter_3 {
    display: none;
}
.filter_3.fillter_toggle {
    background-color: #FFFFFF; 
    width: 410px; 
    height:1331px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
    display: block;
}

.filter_3_1 {
    width: 100%; 
    height: 5%;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 0 50%;
    align-items: center;
    padding-left: 40px;
    p{
        margin: 0;
    }
    color: $black-text-primary;
    border-bottom: #4F4F4F 1px solid;
}
.filter_3_2 {
    width: 100%; 
    height: 10%;
    display: flex;
    background-color: #FFFFFF;
    text-transform: uppercase;
    color: $black-text-primary;
    padding-left: 40px;
}
.filter_by_price {
    display: flex;
}
.filter_3_3 {
    width: 100%; 
    height: 30%;
    background-color: FFFFFF;
    padding-left: 40px;
}
.filter_by_category {
    text-transform: uppercase;
    display: flex;
    gap: 0 45%;
}
.filter_3_4 {
    width: 100%; 
    height: 30%;
    background-color: FFFFFF;
    padding-left: 40px;
}
.filter_by_color {
    text-transform: uppercase;
    display: flex;
    gap: 0 30%;
}
.filter_3_5 {
    width: 100%; 
    height: 20%;
    background-color: FFFFFF;
    padding-left: 40px;
}
.filter_by_size {
    text-transform: uppercase;
    display: flex;
    gap: 0 40%;
}
.filter_3_6 {
    width: 100%; 
    height: 5%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
        background-color: #F2F2F2;
        width: 150px;
        height: 42px;
        border: 1px solid #828282;
    }
    .button_apply_filter button {
        background-color: #F5B941;
    }
}

.p_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 0;
    .product_1 {
        .product_up{
            position: relative;
            .img_product {
                overflow: hidden;
            }
        }
        button {
            background-color: $color-primary;
            width: 133px;
            height: 48px;
            margin-top: 50%;
            border: none;
        }
    }
    .noti_sale {
        width: 50px;
        height: 32px;
        position: absolute;
        top: 9px;
        left: -9.5px;
        text-align: center;
        line-height: 32px;
        color: white;
        font-size: 12.6px;
    }
    .button_buy_now {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        align-items: center;
        display: none;
    }
    .product_up:hover {
        img {
            opacity: 0.5;
            transition: 0.5s;
            transform: scale(1.1);
        }
        .button_buy_now {
            display: block;
        }
    }
    .product_select_option {
        display: flex;
        gap: 0 11px;
        padding-top: 19px;
    }
    .select_option {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        &_1 {
            background-color: black;
        }
        &_2 {
            background-color: #CEB37F;
        }
        &_3 {
            background-color: gray;
        }
    }
    
    .select_option:hover {
        border: 3px solid gray;
    }

    .product_info {
        padding-top: 12px;
    }

    .price {
        color: $black-text-primary;
        font-weight: 700;
    }
    .price_sale {
        color: $gray-text-primary;
    }

}
    .paging {
        padding-top: 48px;
        &_ul {
            display: flex;
            list-style-type: none;
            gap: 0 10px;
            justify-content: center;
            a {
                color: $black-text-primary;
            }
            .active {
                border-bottom: 1px solid $black-text-primary;
            }
        }
    }

    #footer {
        margin-top: 66px;
        width: 100%;
        background-color: #EEEEEE;
        font-size: 16px;
        font-weight: 400;
        a {
            text-decoration: none;
            color: #4F4F4F;
        }
        img {
            display: inline;
        }
        li {
            padding-top: 16px;
            list-style-type: none;
        }
        .col_info_1 {
            padding: 0;
            p {
                padding-right: 46px;
            }
        }
        p {
            font-size: 15px;
            padding-top: 16px;
            color: #828282;
        }
        .col_info_2 {
            padding: 0;
            padding-left: 56px;
        }
        .col_info_4 {
            padding: 0;
            padding-left: 65px;
        }
        .col_info_3 {
            padding: 0;
        }
        .col_info_5 {
            padding: 0;
            select {
                width: 100px;
                border: none;
                background-color: #EEEEEE;
                color: #828282;
                border-bottom: 1px solid #828282;
            }
        }
        .info_5_ul li:nth-child(2) {
            font-weight: 700;
            a {
                color:black;
            }
        }
    }
    .footer_up {
        padding-top: 54px;
    }
    
    .footer_down {
        background-color: #D9D9D9;
        margin-top: 37px;
    }
    .footer_down_left {
        padding-top: 16px;
        width: 100%;
        height: 46px;
        font-size: 13px;
    }
    .footer_down_right {
        width: 100%;
        height: 46px;
        font-size: 13px;
    }
    .footer_down_ul {
        display: flex;
    }

    
    @media screen and (max-width: 767px) {
        .p_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 40px;
        }
        .directional_filter_heading {
            font-size: 21px;
            font-weight: 700;
            color: #262524;
        }
    }


    @media screen and (max-width: 991px) {
        .category_product {
            width: 25%;
            font-size: 15px;
        }
    }

    @media screen and (max-width: 576px) {
        .category_product {
            width: 33.33%;
            font-size: 15px;
        }
        .directional_filter {
            display: block;
            justify-content: space-between; 
            text-transform: uppercase;
            margin-top: 8px;
        }
    }