
.s_container {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    position: relative;
}

.category_product {
    display: flex;
    justify-content: center;
    border: 1px solid #F2F2F2;
    font-weight: 400;
    text-align: center;
    width: 180px;
    height: 111px;
    line-height: 33.84px;
    a {
        color: $black-text-primary;
    }
    img {
        margin: auto;
    }
    align-items: center;
}

.category_product:hover {
    a {
        text-decoration: none;
    }
    border-color: $color-primary;
}

.s_button_right {
    position: absolute;
    right: -5%;
    top: 50%;
}

.s_button_left {
    position: absolute;
    top: 50%;
    left: -5%;
}

.directional {
    margin-top: 40px;
    &_separator {
        a {
            color: $black-text-primary;
            text-decoration: none;
        }
    }
    &_filter {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin-top: 8px;
    }
    &_filter_filter {
        display: flex;
        gap: 0 40px;
    }
    &_filter_heading {
        font-size: 28px;
        font-weight: 700;
        color: $black-text-primary;
    }
}

.fillter_toggle {
    background-color: black; 
    width: 410px; 
    height:1331px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.p_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 0;
    .product_1 {
        .product_up{
            position: relative;
        }
        button {
            background-color: $color-primary;
            width: 133px;
            height: 48px;
            margin-top: 50%;
            border: none;
        }
    }
    .noti_sale {
        width: 50px;
        height: 32px;
        position: absolute;
        top: 9px;
        left: -9.5px;
        text-align: center;
        line-height: 32px;
        color: white;
        font-size: 12.6px;
    }
    .button_buy_now {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        align-items: center;
        display: none;
    }
    .product_up:hover {
        img {
            opacity: 0.5;
            transition: 0.5s;
            transform: scale(1.1);
        }
        .button_buy_now {
            display: block;
        }
    }
    .product_select_option {
        display: flex;
        gap: 0 11px;
        padding-top: 19px;
    }
    .select_option {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        &_1 {
            background-color: red;
        }
        &_2 {
            background-color: blue;
        }
        &_3 {
            background-color: yellow;
        }
    }
    
    .select_option:hover {
        border: 3px solid gray;
    }

    .product_info {
        padding-top: 12px;
    }

    .price {
        color: $black-text-primary;
        font-weight: 700;
    }
    .price_sale {
        color: $gray-text-primary;
    }

}
    .paging {
        padding-top: 48px;
        &_ul {
            display: flex;
            list-style-type: none;
            gap: 0 10px;
            justify-content: center;
            a {
                color: $black-text-primary;
            }
            .active {
                border-bottom: 1px solid $black-text-primary;
            }
        }
    }

    #footer {
        width: 100%;
        background-color: #EEEEEE;
        font-size: 16px;
        font-weight: 400;
        a {
            text-decoration: none;
            color: #4F4F4F;
        }
        img {
            display: inline;
        }
        li {
            padding-top: 16px;
            list-style-type: none;
        }
        .col_info_1 {
            padding: 0;
            p {
                padding-right: 46px;
            }
        }
        p {
            font-size: 15px;
            padding-top: 16px;
            color: #828282;
        }
        .col_info_2 {
            padding: 0;
            padding-left: 56px;
        }
        .col_info_4 {
            padding: 0;
            padding-left: 65px;
        }
        .col_info_3 {
            padding: 0;
        }
        .col_info_5 {
            padding: 0;
            select {
                width: 100px;
                border: none;
                background-color: #EEEEEE;
                color: #828282;
                border-bottom: 1px solid #828282;
            }
        }
        .info_5_ul li:nth-child(2) {
            font-weight: 700;
            a {
                color:black;
            }
        }
    }
    .footer_up {
        padding-top: 54px;
    }
    
    .footer_down {
        background-color: #D9D9D9;
        margin-top: 37px;
    }
    .footer_down_left {
        padding-top: 16px;
        width: 100%;
        height: 46px;
        font-size: 13px;
    }
    .footer_down_right {
        width: 100%;
        height: 46px;
        font-size: 13px;
    }
    .footer_down_ul {
        display: flex;
    }

    
    