.main_blog {
  margin-top: 102px;
}
.main_blog .blog_post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 40px;
}
.main_blog .blog_news {
  margin-top: 41px;
}
.main_blog .post_date {
  padding-top: 24px;
}
.main_blog .post_date p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.main_blog .post_title {
  padding-top: 8px;
}
.main_blog .post_title p {
  margin: 0;
  font-size: 16px;
  color: #333333;
}
.main_blog .post_more {
  padding-top: 16px;
}
.main_blog .post_more p {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  border-bottom: solid 1px black;
}
.main_blog .post_more a {
  color: #262524;
  text-decoration: none;
}

.wrapper_blog_detail {
  margin-top: 102px;
}
.wrapper_blog_detail .directional_separator {
  padding-top: 46px;
}
.wrapper_blog_detail .content_post {
  margin-top: 25px;
  padding: 23px;
  border: 1px solid #F2F2F2;
}
.wrapper_blog_detail .content_img img {
  max-width: 100%;
  width: 100%;
}
.wrapper_blog_detail .content_calendar {
  padding-top: 37px;
}
.wrapper_blog_detail .content_calendar img {
  display: inline;
}
.wrapper_blog_detail .content_calendar p {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}
.wrapper_blog_detail .content_heading {
  padding-top: 9px;
}
.wrapper_blog_detail .content_heading p {
  font-size: 24px;
  font-weight: 700;
  color: #262524;
}
.wrapper_blog_detail .post_contact {
  display: flex;
  flex-direction: row-reverse;
  gap: 0 10px;
}
.wrapper_blog_detail .post_contact a {
  color: #4F4F4F;
}
.wrapper_blog_detail .content_nav {
  padding-left: 60px;
}
.wrapper_blog_detail .content_nav .search_post {
  display: flex;
}
.wrapper_blog_detail .content_nav .search_post input {
  height: 54px;
  width: 340px;
  padding-left: 20px;
  border: 1px solid #F2F2F2;
}
.wrapper_blog_detail .content_nav button {
  border: none;
  height: 54px;
  width: 54px;
  background-color: #F5B941;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper_blog_detail .content_nav .ul_category_post {
  padding-top: 20px;
  list-style: none;
}
.wrapper_blog_detail .content_nav .ul_category_post p {
  font-weight: 700;
  font-size: 18px;
  color: #333333;
}
.wrapper_blog_detail .content_nav .ul_category_post li {
  padding-top: 16px;
}
.wrapper_blog_detail .content_nav .ul_category_post a {
  position: relative;
  padding-left: 16px;
  color: #4F4F4F;
}
.wrapper_blog_detail .content_nav .ul_category_post li a::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #4F4F4F;
  border-radius: 100%;
  left: 0;
  top: 6px;
}
.wrapper_blog_detail .content_nav .line_category_post {
  height: 1px;
  width: 100%;
  background-color: red;
  margin-top: 35px;
}
.wrapper_blog_detail .content_nav .news_recent {
  margin-top: 44px;
}
.wrapper_blog_detail .content_nav .news_recent .heading_news {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}
.wrapper_blog_detail .content_nav .news_recent .img_news_recent img {
  width: 105px;
  min-width: 105px;
  min-height: 72px;
}
.wrapper_blog_detail .content_nav .news_recent .post_news_recent {
  display: flex;
  margin-top: 30px;
}
.wrapper_blog_detail .content_nav .news_recent .title_recent {
  padding-left: 16px;
}
.wrapper_blog_detail .content_nav .news_recent .title_recent a {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #000000;
}
.wrapper_blog_detail .content_nav .news_recent .date_recent {
  padding-left: 16px;
}
.wrapper_blog_detail .content_nav .news_recent .date_recent img {
  display: inline;
}
.wrapper_blog_detail .content_nav .news_recent .date_recent p {
  display: inline;
}

@media screen and (max-width: 991px) {
  .wrapper_blog_detail .content_nav .search_post input {
    height: 54px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
  }
}

/*# sourceMappingURL=blog.css.map */
