@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}
body {
  font-family: "Rubik", sans-serif;
  color: #4F4F4F;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

#header {
  background-color: #262524;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}

.h_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}
.h_container ul li {
  list-style-type: none;
}
.h_container a {
  color: #FFFFFF;
  text-decoration: none;
}
.h_container a:hover {
  color: gray;
  list-style-type: none;
}

.header_logo img {
  max-height: 64px;
  max-width: 203px;
}

.ul_header_menu {
  display: flex;
  list-style-type: none;
  gap: 0 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.ul_header_menu li {
  display: flex;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
}

.ul_header_menu li:first-child {
  font-weight: 600;
}

.header_sub_1 {
  background-color: #262524;
  opacity: 0.9;
  position: absolute;
  top: 20px;
  width: 200px;
  display: none;
}
.header_sub_1 li {
  padding-top: 20px;
}

.header_sub_hover:hover .header_sub_1 {
  display: block;
}

.language {
  position: relative;
}

.language_subnav {
  position: absolute;
  width: 130px;
  top: 100%;
  background-color: #262524;
  opacity: 0.9;
  display: none;
}
.language_subnav img {
  display: inline;
}
.language_subnav li {
  padding-top: 20px;
}

.language:hover .language_subnav {
  display: block;
}

.ul_header_right {
  display: flex;
  gap: 34px;
  margin-bottom: 0;
}

.header_right {
  position: relative;
}

.noti_cart {
  position: absolute;
  right: 25px;
  bottom: 10px;
}

.ul_header_menu {
  position: relative;
}

.header_down_product {
  position: absolute;
  top: 11%;
  left: 18%;
}

.image_header {
  margin-top: 101px;
}

.nav_res {
  display: none;
}

@media screen and (max-width: 1199px) {
  .ul_header_menu li {
    display: flex;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 9px;
  }
}
@media screen and (max-width: 992px) {
  .ul_header_menu li {
    display: none;
  }
  .noti_cart {
    position: absolute;
    right: 45px;
    bottom: 10px;
  }
  .nav_res {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .header_logo img {
    max-height: 64px;
    max-width: 125px;
  }
  .ul_header_right {
    display: flex;
    gap: 14px;
    margin-bottom: 0;
  }
  .noti_cart {
    position: absolute;
    right: 27px;
    bottom: 10px;
  }
}
ins {
  text-decoration: none;
}

.s_container {
  padding-top: 30px;
  justify-content: space-between;
  position: relative;
}

.previous {
  margin-left: -70px;
  margin-top: 15px;
}

.next {
  margin-right: -65px;
  margin-top: 15px;
}

.category_product {
  display: flex;
  justify-content: center;
  border: 1px solid #F2F2F2;
  font-weight: 400;
  text-align: center;
  width: 16.6%;
  height: 111px;
  line-height: 33.84px;
  align-items: center;
}
.category_product a {
  color: #262524;
}
.category_product img {
  margin: auto;
}

.category_product:hover {
  border-color: #F5B941;
}
.category_product:hover a {
  text-decoration: none;
}

.s_button_right {
  position: absolute;
  right: -5%;
  top: 50%;
}

.s_button_left {
  position: absolute;
  top: 50%;
  left: -5%;
}

.directional {
  margin-top: 40px;
}
.directional_separator a {
  color: #262524;
  text-decoration: none;
}
.directional_filter {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 8px;
}
.directional_filter_filter {
  display: flex;
  gap: 0 40px;
}
.directional_filter_heading {
  font-size: 28px;
  font-weight: 700;
  color: #262524;
}

.filter_3 {
  display: none;
}

.filter_3.fillter_toggle {
  background-color: #FFFFFF;
  width: 410px;
  height: 1331px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
  display: block;
}

.filter_3_1 {
  width: 100%;
  height: 5%;
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  gap: 0 50%;
  align-items: center;
  padding-left: 40px;
  color: #262524;
  border-bottom: #4F4F4F 1px solid;
}
.filter_3_1 p {
  margin: 0;
}

.filter_3_2 {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: #FFFFFF;
  text-transform: uppercase;
  color: #262524;
  padding-left: 40px;
}

.filter_by_price {
  display: flex;
}

.filter_3_3 {
  width: 100%;
  height: 30%;
  background-color: FFFFFF;
  padding-left: 40px;
}

.filter_by_category {
  text-transform: uppercase;
  display: flex;
  gap: 0 45%;
}

.filter_3_4 {
  width: 100%;
  height: 30%;
  background-color: FFFFFF;
  padding-left: 40px;
}

.filter_by_color {
  text-transform: uppercase;
  display: flex;
  gap: 0 30%;
}

.filter_3_5 {
  width: 100%;
  height: 20%;
  background-color: FFFFFF;
  padding-left: 40px;
}

.filter_by_size {
  text-transform: uppercase;
  display: flex;
  gap: 0 40%;
}

.filter_3_6 {
  width: 100%;
  height: 5%;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filter_3_6 button {
  background-color: #F2F2F2;
  width: 150px;
  height: 42px;
  border: 1px solid #828282;
}
.filter_3_6 .button_apply_filter button {
  background-color: #F5B941;
}

.p_container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
}
.p_container .product_1 .product_up {
  position: relative;
}
.p_container .product_1 .product_up .img_product {
  overflow: hidden;
}
.p_container .product_1 button {
  background-color: #F5B941;
  width: 133px;
  height: 48px;
  margin-top: 50%;
  border: none;
}
.p_container .noti_sale {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 9px;
  left: -9.5px;
  text-align: center;
  line-height: 32px;
  color: white;
  font-size: 12.6px;
}
.p_container .button_buy_now {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  align-items: center;
  display: none;
}
.p_container .product_up:hover img {
  opacity: 0.5;
  transition: 0.5s;
  transform: scale(1.1);
}
.p_container .product_up:hover .button_buy_now {
  display: block;
}
.p_container .product_select_option {
  display: flex;
  gap: 0 11px;
  padding-top: 19px;
}
.p_container .select_option {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
.p_container .select_option_1 {
  background-color: black;
}
.p_container .select_option_2 {
  background-color: #CEB37F;
}
.p_container .select_option_3 {
  background-color: gray;
}
.p_container .select_option:hover {
  border: 3px solid gray;
}
.p_container .product_info {
  padding-top: 12px;
}
.p_container .price {
  color: #262524;
  font-weight: 700;
}
.p_container .price_sale {
  color: #4F4F4F;
}

.paging {
  padding-top: 48px;
}
.paging_ul {
  display: flex;
  list-style-type: none;
  gap: 0 10px;
  justify-content: center;
}
.paging_ul a {
  color: #262524;
}
.paging_ul .active {
  border-bottom: 1px solid #262524;
}

#footer {
  margin-top: 66px;
  width: 100%;
  background-color: #EEEEEE;
  font-size: 16px;
  font-weight: 400;
}
#footer a {
  text-decoration: none;
  color: #4F4F4F;
}
#footer img {
  display: inline;
}
#footer li {
  padding-top: 16px;
  list-style-type: none;
}
#footer .col_info_1 {
  padding: 0;
}
#footer .col_info_1 p {
  padding-right: 46px;
}
#footer p {
  font-size: 15px;
  padding-top: 16px;
  color: #828282;
}
#footer .col_info_2 {
  padding: 0;
  padding-left: 56px;
}
#footer .col_info_4 {
  padding: 0;
  padding-left: 65px;
}
#footer .col_info_3 {
  padding: 0;
}
#footer .col_info_5 {
  padding: 0;
}
#footer .col_info_5 select {
  width: 100px;
  border: none;
  background-color: #EEEEEE;
  color: #828282;
  border-bottom: 1px solid #828282;
}
#footer .info_5_ul li:nth-child(2) {
  font-weight: 700;
}
#footer .info_5_ul li:nth-child(2) a {
  color: black;
}

.footer_up {
  padding-top: 54px;
}

.footer_down {
  background-color: #D9D9D9;
  margin-top: 37px;
}

.footer_down_left {
  padding-top: 16px;
  width: 100%;
  height: 46px;
  font-size: 13px;
}

.footer_down_right {
  width: 100%;
  height: 46px;
  font-size: 13px;
}

.footer_down_ul {
  display: flex;
}

@media screen and (max-width: 767px) {
  .p_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
  .directional_filter_heading {
    font-size: 21px;
    font-weight: 700;
    color: #262524;
  }
}
@media screen and (max-width: 991px) {
  .category_product {
    width: 25%;
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .category_product {
    width: 33.33%;
    font-size: 15px;
  }
  .directional_filter {
    display: block;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 8px;
  }
}

/*# sourceMappingURL=product.css.map */
