@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}
body {
  font-family: "Rubik", sans-serif;
  color: #4F4F4F;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.h_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}
.h_container ul li {
  list-style-type: none;
}
.h_container a {
  color: #FFFFFF;
  text-decoration: none;
}
.h_container a:hover {
  color: gray;
  list-style-type: none;
}

.ul_header_menu {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.ul_header_menu li {
  display: flex;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
}

.ul_header_menu li:first-child {
  font-weight: 600;
}

.ul_header_right {
  display: flex;
  gap: 34px;
  margin-bottom: 0;
}

.header_right {
  position: relative;
}

.noti_cart {
  position: absolute;
  right: -10px;
  bottom: 10px;
}

.ul_header_menu {
  position: relative;
}

.header_down_product {
  position: absolute;
  top: 11%;
  left: 18%;
}

.s_container {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  position: relative;
}

.category_product {
  display: flex;
  justify-content: center;
  border: 1px solid #F2F2F2;
  font-weight: 400;
  text-align: center;
  width: 180px;
  height: 111px;
  line-height: 33.84px;
  align-items: center;
}
.category_product a {
  color: #262524;
}
.category_product img {
  margin: auto;
}

.category_product:hover {
  border-color: #F5B941;
}
.category_product:hover a {
  text-decoration: none;
}

.s_button_right {
  position: absolute;
  right: -5%;
  top: 50%;
}

.s_button_left {
  position: absolute;
  top: 50%;
  left: -5%;
}

.directional {
  margin-top: 40px;
}
.directional_separator a {
  color: #262524;
  text-decoration: none;
}
.directional_filter {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 8px;
}
.directional_filter_filter {
  display: flex;
  gap: 0 40px;
}
.directional_filter_heading {
  font-size: 28px;
  font-weight: 700;
  color: #262524;
}

.toggle_filter {
  background-color: black;
  width: 410px;
  height: 1331px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.p_container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
}
.p_container .product_1 .product_up {
  position: relative;
}
.p_container .product_1 button {
  background-color: #F5B941;
  width: 133px;
  height: 48px;
  margin-top: 50%;
  border: none;
}
.p_container .noti_sale {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 9px;
  left: -9.5px;
  text-align: center;
  line-height: 32px;
  color: white;
  font-size: 12.6px;
}
.p_container .button_buy_now {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  align-items: center;
  display: none;
}
.p_container .product_up:hover .button_buy_now {
  display: block;
}
.p_container .product_up:hover .button_buy_now img {
  opacity: 0.3;
}
.p_container .product_select_option {
  display: flex;
  gap: 0 11px;
  padding-top: 19px;
}
.p_container .select_option {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
.p_container .select_option_1 {
  background-color: red;
}
.p_container .select_option_2 {
  background-color: blue;
}
.p_container .select_option_3 {
  background-color: yellow;
}
.p_container .select_option:hover {
  border: 3px solid gray;
}
.p_container .product_info {
  padding-top: 12px;
}
.p_container .price {
  color: #262524;
  font-weight: 700;
}
.p_container .price_sale {
  color: #4F4F4F;
}

/*# sourceMappingURL=product.css.map */
