html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}
body {
  font-family: "Rubik", sans-serif;
  color: #4F4F4F;
}

.slide_banner {
  margin-top: 102px;
}

.title_banner {
  margin-bottom: 150px;
}
.title_banner h2 {
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  text-align: start;
}
.title_banner h3 {
  text-align: start;
  font-weight: 400;
  font-size: 48px;
}
.title_banner p {
  text-align: start;
}

@media screen and (max-width: 925px) {
  .title_banner {
    margin-bottom: 50px;
  }
}
.new_product {
  margin-top: 85px;
}
.new_product .div_top {
  position: relative;
}
.new_product .product_new_1 {
  width: 24%;
}
.new_product .product_new_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 9px;
  left: -10px;
  color: white;
  width: 111px;
  height: 32px;
  font-size: 12px;
  font-weight: 400;
}
.new_product .button_buy_now {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.new_product .button_buy_now button {
  background-color: #F5B941;
  width: 133px;
  height: 48px;
  border: none;
}
.new_product .new_product_img {
  overflow: hidden;
}
.new_product .div_top:hover .button_buy_now {
  display: flex;
}
.new_product .div_top:hover img {
  transition: 0.5s;
  transform: scale(1.1);
  opacity: 0.5;
}
.new_product .div_bot {
  padding-top: 12px;
}
.new_product .div_bot .new_product_name a {
  color: #4F4F4F;
}
.new_product .div_bot .new_product_price {
  padding-top: 8px;
}
.new_product .div_bot .new_product_price p {
  color: #262524;
  font-weight: 600;
}
.new_product .flickity-prev-next-button.next {
  right: 10px;
  background-color: rgba(51, 51, 51, 0.8);
}
.new_product .flickity-prev-next-button.previous {
  left: 10px;
  background-color: rgba(51, 51, 51, 0.8);
}

.slide_2 {
  margin-top: 154px;
}
.slide_2 .div_slide_2 {
  position: relative;
}
.slide_2 .container {
  position: absolute;
  top: -50px;
  margin: auto;
  left: 0;
  right: 0;
}
.slide_2 .slide_2_1 {
  display: flex;
}
.slide_2 .slide_2_text {
  width: 50%;
  background-color: #FFDDC4;
  text-align: center;
}
.slide_2 .slide_2_text h2 {
  font-weight: 400;
  font-size: 40px;
  color: #262524;
  text-transform: uppercase;
  margin-top: 35%;
}
.slide_2 .slide_2_text a {
  color: #4F4F4F;
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 8px;
  border-bottom: #4F4F4F 1px solid;
  text-align: center;
  text-decoration: none;
}
.slide_2 .slide_2_image {
  width: 50%;
}
.slide_2 .slide_2_image img {
  width: 100%;
}

.featured {
  margin-top: 150px;
}
.featured .featured_heading_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured .featured_heading {
  color: #262524;
  font-weight: 700;
  font-size: 40px;
}
.featured .featured_filter {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.featured .featured_filter .featured_div {
  height: 42px;
  min-width: 112px;
  padding: 0 10px;
  border: 1px solid #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured .featured_filter a {
  color: #262524;
  font-weight: 700;
  text-decoration: none;
}
.featured .featured_div:hover {
  border: #262524 solid 1px;
  background-color: #F5B941;
}
.featured .featured_product {
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}
.featured .featured_product .product_up {
  position: relative;
}
.featured .featured_product .noti_sale {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 9px;
  left: -9.5px;
  text-align: center;
  line-height: 32px;
  color: white;
  font-size: 12.6px;
}
.featured .featured_product .button_buy_now {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.featured .featured_product .button_buy_now button {
  background-color: #F5B941;
  width: 133px;
  height: 48px;
  border: none;
}
.featured .featured_product .img_product {
  overflow: hidden;
}
.featured .featured_product .product_up:hover .button_buy_now {
  display: flex;
}
.featured .featured_product .product_up:hover img {
  opacity: 0.5;
  transition: 0.5s;
  transform: scale(1.1);
}
.featured .featured_product .product_down .product_select_option {
  display: flex;
  gap: 0 11px;
  padding-top: 16px;
}
.featured .featured_product .product_down .select_option {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
.featured .featured_product .product_down .select_option_1 {
  background-color: black;
}
.featured .featured_product .product_down .select_option_2 {
  background-color: #CEB37F;
}
.featured .featured_product .product_down .select_option_3 {
  background-color: gray;
}
.featured .featured_product .product_down .select_option:hover {
  border: 3px solid gray;
}
.featured .featured_product .product_info {
  padding-top: 12px;
}
.featured .featured_product .product_info p {
  margin: 0;
}
.featured .featured_product .product_info a {
  color: #4F4F4F;
  text-decoration: none;
}
.featured .featured_product .product_info .product_price {
  color: #262524;
  padding-top: 8px;
}
.featured .featured_product .product_info .price_sale {
  color: #BDBDBD;
  padding-top: 8px;
}

.category {
  margin-top: 53px;
}
.category .background_category {
  width: 100%;
  height: 558px;
  background-color: #262524;
}
.category .div_category {
  position: relative;
}
.category .category_slide {
  top: 0;
  left: 25%;
}
.category .category_title {
  position: absolute;
  top: 18%;
}
.category .category_title h2 {
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.category .category_title p {
  padding-top: 15px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
.category .category_title a {
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.category .flickity-enabled.is-draggable {
  top: -480px;
  margin-right: 100px;
}
.category .flickity-prev-next-button.next {
  right: 113px;
}

.trends {
  margin-top: -330px;
}
.trends a {
  text-decoration: none;
}
.trends .trends_posts {
  padding-top: 36px;
  display: flex;
  gap: 0 40px;
}
.trends .trends_heading p {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: #022C31;
}
.trends .trend_img_post {
  position: relative;
}
.trends .trend_img_post img {
  width: 100%;
}
.trends .trend_date_post {
  position: absolute;
  right: 25px;
  bottom: -15px;
  min-width: 102px;
  display: inline-block;
  height: 28px;
  padding: 6px 9px;
  background-color: #E0E0E0;
}
.trends .trend_date_post p {
  font-weight: 400;
  font-size: 12px;
  color: #262524;
}
.trends .trend_title_post {
  margin-top: 26px;
}
.trends .trend_title_post p {
  font-weight: 700;
  font-size: 18px;
  color: #262524;
}
.trends .trend_summary_post {
  margin-top: 8px;
}
.trends .trend_summary_post p {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.feedback {
  margin-top: 180px;
}
.feedback .feedback_background {
  background-color: #262524;
  width: 100%;
  height: 506px;
}
.feedback .feedback_post {
  width: 1280px;
  height: 640px;
  background-color: #F6ECE1;
  display: flex;
}
.feedback .div_img_1 .img_2 {
  padding-top: 10px;
}
.feedback .feedback_img_post {
  width: 50%;
  height: 640px;
  background-color: #F6ECE1;
  display: flex;
  gap: 0 20px;
  padding: 20px;
}
.feedback .feedback_content {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 50%;
  height: 640px;
  background-color: #F6ECE1;
}
.feedback .feedback_content h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #262524;
}
.feedback .feedback_content p {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  padding-top: 52px;
  text-align: center;
}
.feedback .feedback_content .img_user {
  display: inline-block;
  padding-top: 24px;
}
.feedback .feedback_content .name_user p {
  padding-top: 12px;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}
.feedback .feedback_content span {
  color: #828282;
  font-weight: 400;
  font-size: 14px;
}
.feedback .div_feedback {
  position: relative;
}
.feedback .flickity-enabled.is-draggable {
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1199px) {
  .featured .featured_heading {
    font-size: 30px;
  }
  .feedback .feedback_img_post {
    margin-top: 80px;
  }
}
@media screen and (max-width: 991px) {
  .background_slide_2 img {
    height: 280px;
  }
  .slide_2 .container {
    top: -30px;
  }
  .featured .featured_filter {
    display: flex;
    align-items: center;
    gap: 0 7px;
  }
  .featured .featured_filter .featured_div {
    min-width: 100px;
  }
  .featured_div a {
    font-size: 10px;
  }
  .featured .featured_heading {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .background_slide_2 img {
    height: 220px;
  }
  .slide_2 .container {
    top: -20px;
  }
  .featured .featured_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .featured .featured_heading_filter {
    display: block;
  }
  .feedback .feedback_content h2 {
    font-size: 33px;
  }
  .feedback .feedback_img_post {
    margin-top: 200px;
  }
}
@media screen and (max-width: 576px) {
  .slide_2 .slide_2_text h2 {
    font-weight: 400;
    font-size: 20px;
    color: #262524;
    text-transform: uppercase;
    margin-top: 35%;
  }
  .featured .featured_filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .feedback .feedback_content h2 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
